<div class="main">
    <!--Toolbar-->
    <mat-toolbar>
        <button mat-icon-button class="menu-btn" (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a class="logo"><img src="../../assets/imgs/logo.png" alt="Logo"></a>
    </mat-toolbar>
    <!--End Toolbar-->
    <mat-drawer-container class="content">
        <mat-drawer #snav class="menu-left" mode="side" opened="true">
            <div class="noti">
                <span>
                    <i class="material-icons">brightness_low</i>
                </span>
                <span> Hi, Admin</span>
            </div>
            <div class="component">
                <i class="material-icons">home</i>
                <span [routerLink]="['/home']"> Home</span>
            </div>
            <div class="component">
                <mat-icon>border_color</mat-icon>
                <span [routerLink]="['/admin']"> Customers's Infomation</span>
            </div>

            <div class="component">
                <i class="material-icons">power_settings_new</i>
                <span> Logout</span>
            </div>

        </mat-drawer>
        <!--Main Content-->
        <mat-drawer-content class="right-content">
            <div class="customer">
                <div class="input-info-customer">
                    <form [formGroup]="myForm" (ngSubmit)="SubmitForm()">
                    <div class="title">
                        <h2>{{headerTitle}}</h2>
                    </div>
                    <mat-form-field class="input-form">
                        <input matInput placeholder="Customer's name" formControlName="name">
                    </mat-form-field>
                    <p *ngIf="!myForm.controls.name.valid && myForm.controls.name.touched">Name is required</p>
                    <mat-form-field class="input-form">
                        <input matInput [matDatepicker]="picker" placeholder="Customer's Birthday" formControlName="birthday"> 
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <p *ngIf="!myForm.controls.birthday.valid && myForm.controls.birthday.touched">Birthday is required</p>
                    <mat-form-field class="input-form">
                        <input matInput  placeholder="Customer's Phone" formControlName="phone">
                    </mat-form-field>
                    <p *ngIf="myForm.controls.phone.hasError('required') && myForm.controls.phone.touched">Phone is required</p>
                    <p *ngIf="myForm.controls.phone.hasError('pattern')">Phone is must number</p>
                    <mat-form-field class="input-form">
                        <input matInput placeholder="Customer's Address" formControlName="address">
                    </mat-form-field>
                    <p *ngIf="myForm.controls.address.hasError('required') && myForm.controls.address.touched">Address is required</p>
                
                    <input *ngIf="checkIdExist"  type="hidden"  formControlName="showhide">
                    <input  type="hidden"  formControlName="id">
                   


                    <div class="relationship-wrapp">
                            <div class="add-relation-box">
                                    <button mat-fab (click)="addRelation()" type="button" class="add-relation">
                                            <mat-icon class="add-icon">add</mat-icon>
                                    </button>
                                    <strong>Add relationship</strong>
                            </div>
                            
                            <div class="spinner" *ngIf="relationSpinner&&idurl">
                                <mat-spinner></mat-spinner>
                            </div>

                            <div class="relation-form" formArrayName="relation">
                                    
                                    <div class="box" *ngFor="let item of myForm.controls.relation.controls; let i=index">
                                        <button style="float: left" mat-mini-fab>{{i+1}}</button>
                                        <!-- Not exist relation -->
                                        <i class="material-icons" style="float: right; cursor: pointer" (click)="removeRalation(i)">remove_circle</i>
                                        <mat-accordion>
                                        <mat-expansion-panel [formGroupName]="i">
                                        <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Personal relationship
                                        </mat-panel-title>
                                        </mat-expansion-panel-header>
                                       
                                        <mat-form-field class="input-form">
                                            <input matInput placeholder="Name" formControlName="r_name">
                                        </mat-form-field>
                                        
                                        <p *ngIf="myForm.controls.relation.controls[i].controls.r_name.hasError('required') && myForm.controls.relation.controls[i].controls.r_name.touched">Address is required</p>

                                        <mat-form-field >
                                            <!-- Not Exist relation -->
                                                <mat-select placeholder="Relationship" formControlName="r_relate">
                                                  <mat-option *ngFor="let level of relationLevel" [value]="level">
                                                    {{level}}
                                                  </mat-option>
                                                </mat-select>
                                        </mat-form-field>

                                        <p *ngIf="myForm.controls.relation.controls[i].controls.r_relate.hasError('required') && myForm.controls.relation.controls[i].controls.r_relate.touched">Address is required</p>
                                      
                                        <!-- Add Phone -->
                                        <mat-form-field class="input-form">
                                            <input matInput placeholder="Phone" formControlName="r_phone">
                                        </mat-form-field>
                                        <p *ngIf="myForm.controls.relation.controls[i].controls.r_phone.hasError('pattern') && myForm.controls.relation.controls[i].controls.r_phone.touched">Phone is must number</p>
                                        <!-- Add Address -->
                                        <mat-form-field class="input-form">
                                            <input matInput placeholder="Address" formControlName="r_address">
                                        </mat-form-field>
                                        <!-- Add DatePicker -->
                                        <mat-form-field class="input-form">
                                                <input matInput [matDatepicker]="picker1" placeholder="Birthday" formControlName="r_birthday">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>      
                                        </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                            </div>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="loading" style="margin: 20px 0"></mat-progress-bar>
                    <button type="button" mat-raised-button (click)="_resetForm(form)">Reset</button>
                    <button type="button" mat-raised-button (click)="_restore()" *ngIf="checkIdExist">Restore</button>
                    <button mat-raised-button color="primary" class="add-btn" type="submit">Submit</button>
                    
                </form>
                </div>   
            </div>


        </mat-drawer-content>
        <!--End Main Content-->
    </mat-drawer-container>


    <div class="loadOVerScreen" *ngIf="submiting">
        <mat-spinner></mat-spinner>
    </div>
</div>