
.main{
    margin: 0 2em 0 2em;
}
/*Toolbar*/
mat-toolbar{
    background-image:url('../../assets/imgs/header.png');
    text-align: center;
}
.menu-btn{
  
    color:#ffffff;
}
.logo{
margin:0 auto;
color:#ffffff;
font-weight: bold;
}
/*End Toolbar*/
/*Content*/
/*Menu left*/
.content {
    width: 100%;
    height: 1000px;
    border: 1px solid #555;
  }
.content .menu-left{
    width: 25%;
    background-color: #0b7e3f;
    transition-duration: 0.5s;
}
.content .noti{
    background-color: #383e40;
    padding: 1.5em;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    font-weight: bold;
    color:#e4ce4d;
   
  
}

.content .component{
    border-bottom: 0.5px solid rgba(238, 238, 238, 0.37);
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color:#ffffff;
    padding: 1.5em;
    cursor: pointer;
}

 /*End Menu left*/
 /*Right Content*/

.right-content {
    //margin-left: 25%;
    .customer{
        padding:2em;
        color: #384b5c;
        .add-relation-box {
            width: 100%;
            text-align: left;
            padding: 20px 0;
            .add-relation{
                background: #0b7e3f;
              
                .add-icon{
                    color: #ffffff;
                }
            }
        }
        .input-info-customer{
            webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
            box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
            text-align: center;
            padding: 3em 4em 4em 4em;
            
            margin:0 auto;
            .add-btn{
                background: #3191d8;
            }
            
        }
        .input-form{
            width: 100%;
         
       }
    }
}
.search {
    min-height: 64px;
    width: 50%;
    padding: 8px 24px 0;
  }
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
/*End right content*/
/*End Content*/



.add-relation-box {
    width: 100%;
    text-align: left;
    padding: 20px 0;
}
.relation-form {
    .box {
        width: 90%;
        height: auto;
        padding: 15px;
        margin: 20px;
        box-shadow: 3px 8px 20px #888888
    }
}
.spinner {
    width: 132px;
    height: auto;
    padding: 20px 0;
    margin: auto;
}

.loadOVerScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 1000
}

.invalid {
    width: 100%;
    font-size: 11px;
    text-align: left;
    color: red;
    margin: 0;
    padding: 0
}

@media only screen and (min-width: 768px) {
    .menu-btn{
        display: block;
    }
    .content .menu-left {
        width: 40%;
    }
    .loadOVerScreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        z-index: 1000;
        padding-left: 650px;
        padding-top: 350px;
    }
}
@media only screen and (max-width: 768px) {
    .menu-btn{
        display: block;
    }
    .content .menu-left {
        width: 40%;
    }
    .loadOVerScreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        z-index: 1000;
        padding-left: 350px;
        padding-top: 350px;
    }
}

