


<div class="main">
    <!--Toolbar-->
    <mat-toolbar>
        <button mat-icon-button class="menu-btn" (click)="snav.toggle()" ><mat-icon>menu</mat-icon></button>
    
      <h2 class="logo">DXC Technology</h2>
    </mat-toolbar>
    <!--End Toolbar-->
    <mat-drawer-container class="content">
      <mat-drawer #snav class="menu-left" mode="side" opened="true">
          <div class="noti">
            <span><i class="material-icons">brightness_low</i></span><span> Hi, Admin</span>
          </div>
          <div class="component">
              <i class="material-icons">home</i><span> Home</span>
          </div>
          <div class="component">
            <mat-icon>border_color</mat-icon><span> Customers's Infomation</span> 
          </div>
          
          <div class="component">
              <i class="material-icons">power_settings_new</i><span> Logout</span>
            </div>
         
      </mat-drawer>
<!--Main Content-->
      <mat-drawer-content class="right-content">
        <div class="button-row">
          <a mat-fab color="primary" (click)="showModalCreate()">
            <mat-icon class="icon-create">add</mat-icon>
          </a>
          <div class="title-header">
            <h3>Create new Customer</h3>
          </div>
        </div>
      </mat-drawer-content>
<!--End Main Content-->
    </mat-drawer-container>
  </div>
