
.main{
    margin: 0 2em 0 2em;
}
.md-input-container.md-input-focused{
    color: #0b7e3f !important;
  }
.md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #0b7e3f !important;
  }
/*Toolbar*/
mat-toolbar{
    background-image:url('../../assets/imgs/header.png');
    text-align: center;
}
.menu-btn{
    //display: none;
    color:#ffffff;
}
.logo{
margin:0 auto;

color:#ffffff;
font-weight: bold;
}
/*End Toolbar*/
/*Content*/
/*Menu left*/
.content {
    width: 100%;
    height: 1000px;
    border: 1px solid #555;
  }
.content .menu-left{
    width: 25%;
    background-color: #0b7e3f;
    transition-duration:0.5s;
    //transform: translate3d(-280px, 0px, 0);
}
.content .noti{
    background-color: #383e40;
    padding: 1.5em;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    font-weight: bold;
    color:#e4ce4d;
   
  
}

.content .component{
    border-bottom: 0.5px solid rgba(238, 238, 238, 0.37);
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color:#ffffff;
    padding: 1.5em;
    cursor: pointer;
}

 /*End Menu left*/
 /*Right Content*/

.right-content {
    .view-list{
        position: absolute;
        top: 0;
        right: 0;
        color: #9da6bb;
        cursor: pointer;
    }
    .view-grid{
        position: absolute;
        top: 0;
        right: 1em;
        color: #9da6bb;
        cursor: pointer;
    }
    //margin-left: 25%;
    .grid-view{
        .mat-cell{
            padding-top: 10px;
            
        }
        .mat-row{
            position: relative;
        }
        .xxx{
            position: absolute;
            right: -0.3em;
           
            top: -0.5em;
            cursor: pointer;
            .delete{
                color: red;
            }
            .recovery{
               color:grey;
            }
        }
      
        .icon-title{
            position: relative;
            padding-left: 1.8em;
            mat-icon{
                position: absolute;
                left: 0em;
                top: -0.3em;
                color: #0b7e3f
            }
        }
        .activetoggle{
            font-size: 12px;
            color: #0b7e3f;
        }
        .mat-row{
            padding: 1em 1em;
        }
        .viewmore{
            color:#57b481;
            font-size: 11px;
            font-style: italic;
            position: relative;
            cursor: pointer;
            .icon-next{
                font-size: 11px;
                color: #40bf40;
                position: absolute;
                top: 0.1em;
                right: -1.3em;
            }
        }
    }
    
    .customer{
        padding:2em;
       
        .icon-edit{
            color:#0b7e3f;
            cursor: pointer;
        }
        .icon-delete{
            color:rgb(226, 76, 76);
            cursor: pointer;
        }
        .icon-list-recovery{
            color:rgb(179, 179, 166);
        }
        .add-customer{
            margin-bottom: 2em;
            .add-btn{
                background-color: #0b7e3f;
                .icon-add{
                    color:#ffffff;
                    font-weight: bold;
                }
            }
            .name-btn{
                color:#0b7e3f;
                font-weight: bold;
            }
        }
    }
}
.search {
    min-height: 64px;
    float: left;
    width: 50%;
    padding: 8px 24px 0;
  }
  .selectIconview{
    min-height: 64px;
    float: right;
    width: 30%;
    padding: 25px 24px 0;
    font-size: 13px;
  }
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
/*End right content*/
/*End Content*/

@media only screen and (max-width: 768px) {
   
    
}
@media only screen and (min-width: 992px) {
   
}

.mat-cell, .mat-header-cell{
    margin: 0 5px;
   
}


/*Grid View*/
.grid-view .mat-header-row,.grid-view .mat-row{
    display: grid;
    width: 30%;
    max-height: 150px;
    overflow: hidden;
    float: left;
    text-align: center;
    margin:0.2em;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    
}
.grid-view{
    text-align: center;
    max-height: 500px;
    padding: 1em;
}
/*End Grid View*/

.mat-input-element{
    color: #0b7e3f;
}

/deep/ .mat-form-field-ripple{
    background-color:#0b7e3f!important;
}


.mat-primary{
    color: #000;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color: #40bf40;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
    background-color: #0b7e3f;
}
/deep/ .grid-view[_ngcontent-c1] .mat-header-row[_ngcontent-c1], .grid-view[_ngcontent-c1] .mat-row[_ngcontent-c1]{
    text-align: left;
}
/deep/.grid-view .mat-column-address{
    display: none;
}
/deep/.grid-view .mat-column-id{
    display: none;
}
/deep/.list-view .mat-column-xxx{
    display: none;
}
/deep/ .mat-select-arrow{
    color: #0b7e3f;
}

// /deep/ .mat-disabled .mat-slide-toggle-thumb{
//     background: #0b7e3f;
// }

// /deep/ .mat-disabled .mat-slide-toggle-bar{
//     background: #40bf40;
// }

.enableview{
    display: block;
}
.disableview{
    display: none;
}