


<div class="main">
    <!--Toolbar-->
    <mat-toolbar>
        <button mat-icon-button class="menu-btn" (click)="snav.toggle()" ><mat-icon>menu</mat-icon></button>
    
      <h2 class="logo">DXC Technology</h2>
    </mat-toolbar>
    <!--End Toolbar-->
    <mat-drawer-container class="content">
      <mat-drawer #snav class="menu-left" mode="side" opened="true">
          <div class="noti">
            <span><i class="material-icons">brightness_low</i></span><span> Hi, Admin</span>
          </div>
          <div class="component">
              <i class="material-icons">home</i><span> Home</span>
          </div>
          <div class="component">
            <mat-icon>border_color</mat-icon><span> Customers's Infomation</span> 
          </div>
          
          <div class="component">
              <i class="material-icons">power_settings_new</i><span> Logout</span>
            </div>
         
      </mat-drawer>
<!--Main Content-->
      <mat-drawer-content class="right-content">
          <div class="customer">
              <div class="add-customer">
                  <button class="add-btn" mat-fab (click)="addCustomer()"><mat-icon class="icon-add">add</mat-icon></button>
                  <span class="name-btn">Create new Customer</span>
              </div>
              

              <div class="example-container mat-elevation-z8">
                  <div class="search">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Seach">
                      </mat-form-field>
                    </div>
                  <mat-table #table [dataSource]="dataSource">
                    
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                
                    <!-- age Column -->
                    <ng-container matColumnDef="age">
                      <mat-header-cell *matHeaderCellDef> age </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                
                  <mat-paginator #paginator
                                 [pageSize]="10"
                                 [pageSizeOptions]="[5, 10, 20]"
                                 [showFirstLastButtons]="true">
                  </mat-paginator>
                </div>
                

              

          </div>
          
       
      </mat-drawer-content>
<!--End Main Content-->
    </mat-drawer-container>
  </div>
